/* Ensure html and body cover full height */
html, body {
  height: 100%;
  margin: 0;
}

.collection-detail-container {
  position: fixed; /* Fix the position */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Full viewport height */
  background-color:#07075a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  /* width: 90%; */
  height: 90%;
  gap: 4rem; /* Space between the cards */
}

.data-card, .image-card {
  flex: 1; /* Each card takes up equal space */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-card {
  background-color: white; /* Light sky blue background */
  padding: 1rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left:20px;
  bottom: 20px;
  height:90%;
}

.image-card {
  background-color: lightskyblue; /* Light green background */
  padding: 1rem;
  overflow-y: auto; /* Allow scrolling if content overflows */
  width: 65%;
  position: absolute;
  top: 10px;
  right:20px;
  height:90%;
}

.collection-title {
  font-size: 2rem;
  color: black; /* Blue color for the title */
  text-align: center;
  margin-bottom: 1rem; /* Margin below the title */
}

.data-content p {
  font-size: 1.2rem;
  color: black; /* Blue color for text */
  margin: 0;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
